@import 'imports/deps.import.less';

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 800;
  height: @header-height;
  line-height: @header-height;
  .drop-shadow(0, 2px, 4px, 0.5);
  background-color: @primary;
  .transition(height @header-animation-duration ease-out);
}

.tmpl-landing .header {
  height: @header-height * 2;
}

.header .logo {
  display: inline-block;
  text-align: center;
  float: left;
  height: 100%;
  width: 2em;
  font-size: 1.5em;
}

.header h1,
.header h2 {
  margin: 0;
  padding: 0;
}

.header p {
  margin: 0;
}
