// Stories styles.
// views/stories/*

@import 'imports/deps.import.less';

.story,
.story-excerpt {

  .title {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
  }

  // The settings below work well for up to 3 digit numbers.
  @votes-font-size: 1em;
  .votes {
    position: absolute;
    text-align: center;
    cursor: pointer;
    .noselect();

    top: 1/@votes-font-size;
    right: 1/@votes-font-size;
    width: @votes-font-size*2;
    height: @votes-font-size*2;
    line-height: @votes-font-size*2;
    font-size: @votes-font-size;
    .rounded(@votes-font-size*2);

    border: 1px solid @primary;
    background-color: @primary2;
  }

  .preface {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }

  .paragraph {
    width: 100%;
    padding: 1em 0 0;

    p {
      text-indent: 1em;
      margin: 0;
    }

    .actions {
      .noselect();
      border-top: 1px solid #ccc;
      text-align: right;
      color: #ccc;
    }

    .actions:hover {
      color: #000;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }

  textarea {
    width: 100%;
    min-height: 2em;
    font-size: inherit;
    font-style: italic;
    font-family: inherit;
    border: 0;
    outline: 0;
    resize: none;
  }

  input {
    width: 100%;
    border: 0;
    border-bottom: 1px dashed #000;
  }
}
