// Stories styles.
// views/stories/*

@import 'imports/deps.import.less';

.story {
  position: relative;
  .drop-shadow(0, 2px, 4px, 0.5);
  margin: 2em 0;
  width: 90%;
  padding: 2em 5%;

  .votes {
    position: absolute;
    top: 0; right: 0;
    border: 1px solid @primary;
    background-color: @primary2;
    .rounded(.5em);
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 2em;
    float: right;
    text-align: center;
    cursor: pointer;
    .noselect();
  }

  .title {
    font-size: 2em;
    padding: 0;
    margin: 0;
  }

  .preface {
    padding: 0;
    margin: 0;
    font-size: 1.25em;
  }

  .paragraph {
    width: 100%;
    padding: 1em 0 0;

    p {
      text-indent: 1em;
      margin: 0;
    }

    .actions {
      .noselect();
      border-top: 1px solid #ccc;
      text-align: right;
      color: #ccc;
    }

    .actions:hover {
      color: #000;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }

  .countdown{
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.5em;
  }

  textarea {
    width: 100%;
    min-height: 2em;
    font-size: inherit;
    font-style: italic;
    font-family: inherit;
    border: 0;
    outline: 0;
    resize: none;
  }

  input {
    width: 100%;
    border: 0;
    border-bottom: 1px dashed #000;
  }
}
