<template name="join">
  <div class="view join">
    {{#unless currentUser}}
    <h1 class="blocktitle">Join the community</h1>

    <div class="row">
      <div class="box box-1">
        {{> join_form}}
      </div>

    </div>
    {{/unless}}


    {{#if currentUser}}
    <h1 class="blocktitle">Hey {{currentUser.username}}!</h1>
    <p class="lead">This is your personal page, you can change some settings, export your data and stuff.</p>

    <div class="box box-1">
      <h2>Logout</h2>
      <button class="logout">Logout</button>
    </div>
    {{/if}}
  </div>
</template>
