<template name="profile">
  <div class="view profile">

<div class="profile-excerpt">

<h1 class="profileblock"> Profile </h1>
<br>

{{#if currentUserIdIs seenprofile._id}}
<div align="right">
<a href="/profiledit">Edit</a>
</div>
{{/if}}

<br><br>

<table>


  <tr>
  <td>
   <img src="pictures/avatar.png" alt="Profile Pic" style="width:128px;height:128px">
  </td>
</tr>

  <tr>
  <td><b>Username:   </b> </td>
  <td>{{seenprofile.username}}</td>
  </tr>

  {{#if seenprofile.profile.bio}}
  <tr>
    <td><b>Bio :</b></td>
    <td>{{seenprofile.profile.bio}}</td>
  </tr>
  {{/if}}


  <tr>
    <td><b>Num of follower :</b></td>
    {{#if followersExits seenprofile._id }}
    <td>{{seenprofile.profile.followerNum}}</td>
    {{else}}
    <td>0</td>
    {{/if}}
  </tr>


   <tr>
   <td><b>Num of following :</b></td>
   <td>{{followingNum seenprofile._id}}</td>
 </tr>


<tr>

    {{#if  isAlreadyfollowing seenprofile._id }}
    <td>  <input type="Button" class="followBtn" value="Unfollow"/></td>
    {{else}}
    <td>  <input type="Button" class="followBtn" value="Follow"/></td>
    {{/if}}

</tr>

</table>

<input type="hidden" id="seenprofileID" value="{{seenprofile._id}}"/>
{{#each allusers}}
<p>  <a class="view-profile" href="/profile/{{username}}">{{username}}</a> </p>
{{/each}}

</div>

</div>
</template>
