<template name="story_head">
  <div class="story-head">
    {{#if isSingle}}
      <h1 class="title">{{title}}</h1>
    {{else}}
      <h2 class="title"><a href="/story/{{_id}}">{{title}}</a></h2>
    {{/if}}

    <span class="meta">
      {{#if voteCount}}
        {{#each voters}}
          {{{anchor}}}{{#if prelast}} and {{else}}{{#unless last}}, {{/unless}}{{/if}}
        {{/each}}

        {{! voters}}
        {{#if greater voteCount 5}}
           and {{minus voteCount 5}} more people
        {{/if}}
        liked this story.
      {{/if}}

      <span class="vote">{{#if iLiked}}Unlike{{else}}Like{{/if}}.</span>
    </span>


    {{#if any genre insp}}
      <p class="metainfos">
        {{#if genre}}<span class="genre">{{genre}}</span> {{/if}}
        {{#if all genre insp}}-{{/if}}
        {{#if insp}}<span class="insp">Inspired by {{insp}}</span>{{/if}}
      </p>
    {{/if}}

    {{#if any who when where what}}
      <p class="whinfos">
        {{#if who}}It's {{who}}.{{/if}}
        {{#if when}}Around {{when}}.{{/if}}
        {{#if where}}In {{where}}.{{/if}}
        {{#if what}}{{what}}{{/if}}
      </p>
    {{/if}}

    <p class="preface">{{#markdown}}{{preface}}{{/markdown}}</p>
  </div>
</template>
