<template name="story">
  <!-- A story is currently only completly rendered in its own view. -->
  <!-- This might need to change in the future. -->
  <div class="view">
    <div class="row">
      <div class="col-4-3">
        <div class="story">
          {{> story_head}}

          {{#each paragraphs}}
            {{> paragraph}}
          {{/each}}

        <div class="paragraph_vote">
          {{#each nextParagraph}}{{> paragraph}}{{/each}}
        </div>
          {{> countdown}}

          {{> paragraph_new}}
        </div>
      </div>
    </div>
  </div>
</template>
