<template name="story_head">
  <div class="story-head">
    <h2 class="title">{{title}}</h2>

<span class="meta">


  {{#each votedBy}}
  <a class="view-profile" href="/profile/{{username}}">{{username}}</a>
  {{/each}}
  {{#if greater theVoteCount 2}}
     and {{minus theVoteCount  2}} more people liked this story.
  {{else}}
     {{#unless equal theVoteCount 0}}
        liked the story.
     {{/unless}}
  {{/if}}
</span>
    <p class="metainfos">{{genre}}<br>{{genre2}}<br>{{nsfw}}<br>{{insp}}</p>
    <p class="whinfos">{{who}}<br>{{when}}<br>{{where}}<br>{{what}}</p>
    <p class="preface">{{#markdown}}{{preface}}{{/markdown}}</p>
    <span class="votes">{{theVoteCount}}</span>
  </div>
</template>
