<template name="story_new">
  <div class="story box">
    {{#if currentUser}}
      <form>
        <input name="title" class="title" type="text" placeholder="Your neverending story.."><br><br>

        <label>
          Genre
          <a href="https://goo.gl/Ip2vLe">(?)</a>
          <select name="genre">
             <option selected disabled hidden value=''></option>
             {{#each genres}}
               <option value="{{this}}">{{this}}</option>
             {{/each}}
          </select>
        </label>

        <br><br>

        <input name="inspirations" class="inspirations" type="text" placeholder="Some inspirational works?"><br><br>

        <label>4W to help others contribute:</label><br>
        <input name="who" class="wh" type="text" placeholder="Who?"><br>
        <input name="when" class="wh" type="text" placeholder="When?"><br>
        <input name="where" class="wh" type="text" placeholder="Where?"><br>
        <input name="what" class="wh" type="text" placeholder="What?"><br><br>
        <textarea name="preface" class="preface" placeholder="The preface to your story..."></textarea><br>
        <button type="submit">Start Story</button>
      </form>
    {{else}}
      <h2 class="fadedout title">Your Story</h2>
      <p class="preface fadedout">Your own story can be right here! All you need to do is to login.</p>
    {{/if}}
  </div>
</template>
