<template name="header">
  <div class="header">
    <div class="menu">
      <ul>
        <li class="{{activePage 'landing'}}">
          <a href="{{pathFor 'landing'}}">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
        <li>
          <a href="{{pathFor 'stories'}}">
            <i class="fa fa-book"></i>
            Stories
          </a>
        </li>
        <li>
          <span>
            <i class="fa fa-users"></i>
            Community
          </span>
        </li>
        <li>
          {{#if currentUser}}
          <a href="{{pathFor 'login'}}">
            <i class="fa fa-child"></i>
            You
          </a>
          {{else}}
          <a href="{{pathFor 'login'}}">
            <i class="fa fa-paint-brush"></i>
            Join
          </a>
          {{/if}}
        </li>
      </ul>
    </div>

    <div class="menubar content-wrapper">
      <!-- Currently the bottom line of the menu above is displayed in place
      of this menubar. The menubar could instead be used to display the site
      logo & current screen. In that case: Change initial height of the menu
      to 0 and fill the menu bar with one-line content. -->
      <div class="clear"></div>
    </div>
  </div>

  <div class="menu-trigger">
    <i class="fa"></i>
  </div>
</template>
