<template name="landing">
  <div class="view">
    <h1 class="blocktitle">The Neverending Story</h1>
    <p class="lead">Democratic crowd-sourced social story telling.</p>

    <h2 class="blocktitle">Featured Stories:</h2>
    <div class="row">
    {{#each featuredStories}}
        <div class="box box-2-1">
          {{> story_excerpt}}
        </div>
    {{/each}}
    </div>
    {{#unless currentUser}}
    <div class="row">
      <div class="box box-2-1">
        <h2>Be part of it</h2>
        {{> join_form}}
      </div>
    </div>
    {{/unless}}
  </div>
</template>
